main#HomePage {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h1, 
        > h2 {
            margin: 0 auto 20px;
        }
        > button {
            margin-top: 10px;
        } 
        > a {
            margin-top: 10px;
            text-decoration: none;
        }
    }
}