.HandView {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    height: 240px;
    padding: 0;

    .card-view {
        position: relative;
        width: 40px;
        height: 40px;
        list-style: none;
        margin: 20px;

        &:first-child {
            transform: rotate(15deg);
            transform-origin: -20px 50%;
        }
        &:last-child {
            transform: rotate(-15deg);
            transform-origin: 60px 50%;
        }

        &:hover {
            z-index: 2;
        }

        > div {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 116px;
            height: 200px;
            background-image: url('./sprite.jpg');
            background-repeat: no-repeat;
            background-size: 1300px;
            transition: transform ease 200ms, box-shadow ease 200ms;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: translate(-50%, -5px);
                box-shadow: 0 2.5px 15px rgba(0, 0, 0, 0.1);
            }
        }

    }
}
