.DeckView {
    transform-origin: right;
    width: 280px;
    height: 150px;
    padding: 0 60px 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;

    &:not(.active) {
        pointer-events: none;
    }

    @media (max-width: 500px) {
        margin: 0 -20px -80px 0;
        transform: scale(0.8);
    }

    > li {
        position: relative;
        width: 40px;
        height: 1px;
        list-style: none;

        > div {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 100px, 0) rotateX(50deg) rotateZ(-3deg);
            transform-origin: 58px 100px 0px;
            width: 116px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.02);
            background: center/100px 30px no-repeat url("../floatplane-logo.png"), center/18px repeat url("../floatplane.png"), white;
            border: 4px white solid;
            transition: ease 300ms all;
        }
        
        &:first-child > div {
            transform: translate(-50%, 10px) rotateX(50deg) rotateZ(-95deg);
            transform-origin: 58px 190px 0px;
            background-image: url('../sprite.jpg');
            background-size: 1300px;
            background-repeat: no-repeat;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        }

        &:last-child > div {
            cursor: pointer;

            &:hover {  
                @media (min-width: 801px) {
                    filter: contrast(0.96);
                    transform: translate3d(-50%, 105px, 0px) rotateX(52deg) rotateY(1deg) rotateZ(-3deg);
                    box-shadow: -1px 10px 1px rgba(0, 0, 0, 0.08);
                }
            }
        }

        &:last-child > div.clicked {
            animation: pick ease 1s forwards;
            cursor: default;

            @keyframes pick {
                50% {
                    opacity: 1;
                }
                100% {
                    filter: contrast(0.94);
                    transform: translate3d(-50%, 200px, 0px) rotateX(62deg) rotateY(1deg) rotateZ(-3deg) scale(1.05);
                    opacity: 0;
                    box-shadow: -1px 10px 1px rgba(0, 0, 0, 0.08);
                }
            }

        }
    }
}
