.DeckView {
    > li {
        position: absolute;
        right: 0;
        bottom: var(--deck-bottom);
        transform: translateY(50%);
        list-style: none;
        width: 124px;
        height: 208px;
        border-radius: 10px;
        transition: ease 1s all;

        perspective-origin: calc(-400px + 50%) 0;

        @media (max-width: 800px) {
            perspective-origin: calc(-50vw + 50%) 0;
        }

        @media (max-width: 600px) {
            perspective-origin: calc(-50vw + 55%) 10vh; 
            transform: translateY(50%) translateX(25%);
        }  
        
        @media (max-width: 500px) {
            perspective-origin: calc(-15vw + 50%) 50vh;
            // perspective-origin: 0 20vh; 
            
            transform: translateY(50%) translateX(25%);
        }  

        > div {
            transition: ease 1s all;

            @media screen and (max-width: 600px) {
                transform: translateX(50px);
            }

            @media screen and (max-width: 500px) {
                transform: translateX(50px) rotate(-24deg);
            }

            &:before {
                content: "";
                position: absolute;
                width: 124px;
                height: 208px;
                box-sizing: border-box;
                border-radius: 10px;
                background-color: white;
                background: center/100px 30px no-repeat url("../floatplane-logo.png"), center/18px repeat url("../floatplane.png"), white;
                box-shadow: 4px 5px 6px rgb(0 0 0 / 10%);
                border: 4px white solid;  
                transition: all ease 1s;
                cursor: pointer;

                @media screen and (max-width: 500px) {
                    box-shadow: 0px 8px 7px rgb(0 0 0 / 10%);
                    transform: rotateZ(-24deg);
                }  
            }
            
        }

        &:first-child > div {
                background-position: inherit;

            &:before {
                background-image: url('../sprite.jpg');
                background-repeat: no-repeat;
                background-size: 1300px;
                background-position: inherit;
                box-shadow: none;
                transform: translateX(-100px) rotateZ(-90deg);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
                cursor: pointer;

                @media screen and (max-width: 500px) {
                    transform: rotateZ(-26deg) translateX(-100px) rotateZ(-90deg);
                }  
            }
        }
    }
    
    
    &.animate li:nth-last-child(1) > div,
    &.animate li:nth-last-child(2) > div {
        animation-delay: inherit;

        &:before {
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-delay: inherit;
        }
    }

    &.animate li:nth-last-child(1) > div:before {
        opacity: 0;
        transform: rotateZ(0deg) translateY(250px);
    }
    &.animate li:nth-last-child(2) > div:before {
        transition-delay: 1s;
        opacity: 0;
        transform: rotateZ(0deg) translateY(-250px);
    }
    &.animate.reverse li:nth-last-child(1) > div:before {
        transform: rotateZ(0deg) translateY(-250px);
    }
    &.animate.reverse li:nth-last-child(2) > div:before {
        transform: rotateZ(0deg) translateY(250px);
    }
}
