div.Gui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;

    > .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
}