#HandView {
    height: 240px;
    padding: 0;
    margin: 0 0 40px;
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1));

    @media (max-width: 500px) {
        margin: 0 0 10px;
    }

    > li {
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 124px;
        height: 208px;
        border-radius: 10px;
        cursor: pointer;
        transform: translateX(-50%);
        transition: ease 500ms transform;
        perspective: 800px;
        transform-origin: 50% 500px;

        &:nth-child(1) {
            transform: translateX(-50%) rotateZ(-16deg);
        }
        &:nth-child(3) {
            transform: translateX(-50%) rotateZ(16deg);
        }

        &:before {
            content: "";
            position: absolute;
            width: 124px;
            height: 208px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
            background-color: white;
            background-image: url('../sprite.jpg');
            background-position: inherit;
            background-repeat: no-repeat;
            background-size: 1300px;
            border: 4px white solid;
            transition: opacity ease 500ms;

            animation-name: slideIn;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            @keyframes slideIn {
                0% {
                    transform: translateY(-20px);
                    opacity: 0;
                }
                50% {
                    transform: translateY(-20px);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        
        &.clicked:nth-child(1):before {
            opacity: 0;
        }

        &.clicked:nth-child(3):before {
            opacity: 0;
        }
    }
}
