header#header {
    // background-color: #f1f1f1;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;

    > div {
        display: flex;
        align-items: center;
        height: 88px;

        button[aria-label=menu] {
            margin-left: auto;
        }

        .back {
            text-decoration: underline;
            user-select: none;
            cursor: pointer;
        }
    }
}