.TrickView {    
    padding: 0;
    margin: 0;

    > li {
        list-style: none;
        position: absolute;
        bottom: var(--trick-bottom);
        transform: translateY(50%);
        left: 60px;
        width: 124px;
        height: 208px;
        border-radius: 10px;
        transition: ease 500ms transform;
        transform-origin: 0 100%;
        z-index: auto;

        perspective-origin: calc(400px + 50%) 0;

        @media (max-width: 800px) {
            perspective-origin: calc(50vw + 50%) 0;
        }

        @media (max-width: 600px) {
            perspective-origin: calc(50vw + 50%) 10vh; 
        }  
        
        @media (max-width: 500px) {
            perspective-origin: calc(50vw + 50%) 50vh; 
            perspective-origin: 0 0; 
        }  

        > div {
            transition: ease 500ms all;
            transform: rotateX(45deg);

            @media screen and (max-width: 600px) {
                transform: translateX(-50%) rotateX(45deg);
            }

            @media screen and (max-width: 500px) {
                transform: translateX(-75%) rotateX(45deg) translateZ(-200px);
            }

            &:before {
                content: "";
                position: absolute;
                width: 124px;
                height: 208px;
                box-sizing: border-box;
                border-radius: 10px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                background-color: white;
                background-image: url('../sprite.jpg');
                background-position: inherit;
                background-repeat: no-repeat;
                background-size: 1300px;
                border: 4px white solid;
                cursor: pointer;

                @media (max-width: 500px) {
                    transform: rotateZ(-24deg);
                }
            }
        }

        &:nth-child(1) > div:before {
            transform: translate(-30px, -30px);

            @media (max-width: 500px) {
                transform: rotateZ(-24deg);
            }
        }
        &:nth-child(2) > div:before {
            transform: translate(30px, 30px);

            @media (max-width: 500px) {
                transform: translate(80px, 30px) rotateZ(-24deg);
            }
        }
    }
}
