.TrickView {    
    position: relative;
    width: 160px;
    height: 140px;
    padding: 0;
    transition: all ease 1s;
    perspective: 800px;
    filter: sepia(0.3);

    @media (max-width: 500px) {
        position: absolute;
        top: 22%;
        right: 210px;
        transform: scale(0.80);
    }

    // @media (max-width: 450px) {
    //     transform: scale(0.95);
    // }
    // @media (max-width: 400px) {
    //     transform: scale(0.92);
    // }
    // @media (max-width: 380px) {
    //     transform: scale(0.90);
    // }
    // @media (max-width: 360px) {
    //     transform: scale(0.88);
    // }

    &.center {
        transform: scale(1.2);
        cursor: pointer;
        margin: auto;
    }

    > li {
        list-style: none;
        position: absolute;
        bottom: 35px;
        left: 60px;
        width: 124px;
        height: 208px;
        border-radius: 10px;
        cursor: pointer;
        transform: translateX(-50%);
        transition: ease 500ms transform;
        perspective: 950px;
        transform-origin: 0 100%;
        z-index: auto;


        &:nth-child(1) {
            transform: translateZ(-20px) translateX(-50%) rotate3d(0.8, 0.2, -0.2, 25deg);
        }
        &:nth-child(2) {
            transform: translateZ(-20px) translateX(calc(-50% + 40px)) translateY(40px) rotate3d(0.8, 0.2, -0.2, 25deg);
        }

        &:before {
            content: "";
            position: absolute;
            width: 124px;
            height: 208px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(#574117, 0.1);
            background-color: white;
            background-image: url('../sprite.jpg');
            background-position: inherit;
            background-repeat: no-repeat;
            background-size: 1300px;
            border: 4px white solid;
        }
    }
}
