body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .gutters {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
  }
  