:root {
    --doc-height: 100vh;
}

body {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: var(--doc-height);
    background: #fbfbfb;
}

.gutters {
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

main > .gutters {
    min-height: var(--doc-height);
}


  